<div class="container-fluid ">
    <div class="container ">
        <div class="card mt-5 ">
            <h1 class="text-center "> DashBoard</h1>
            <div class="row d-flex justify-content-between ">
                <div class="card col-lg-3 col-md-12 col-sm-12 text-center ml-lg-5 mt-3">
                    <h3>Income</h3>
                    <h3>${{total}}</h3>
                </div>
                <div class="card card col-lg-3 col-md-12 col-sm-12 text-center mr-lg-5 mt-3">
                    <h3>Expense</h3>
                    <h3>${{totall}}</h3>
                </div>
            </div>
            <div class="card card col-lg-3 col-md-12 col-sm-12 offset-lg-4 my-lg-5 text-center mt-3 mb-3">
                <h3>Total</h3>
                <h3>${{totalll}}</h3>
            </div>

        </div>
    </div>
</div>